/packages
/TESCO-TMS3/obj
/TESCO-TMS3/bin
/GenerateLinqDB/.vs
/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/LinqDB/obj
/GenerateLinqDB/LinqDB/bin
/TESCO-TMS3/TESCO-TMS3.vbproj.user
