/packages
/TESCO-TMS3/obj
/TESCO-TMS3/bin
/GenerateLinqDB/.vs
/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/LinqDB/obj
/GenerateLinqDB/LinqDB/bin
/TESCO-TMS3/TESCO-TMS3.vbproj.user
/.vs
/TESCO-TMS3/TESCO-TMS3.vbproj
/TESCO-TMS3/bin/pdftoimg.dll
/TESCO-TMS/bin/Microsoft.Owin.dll
/TESCO-TMS/bin/Microsoft.Owin.Host.SystemWeb.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.Cookies.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.Facebook.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.Google.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.OAuth.dll
/TESCO-TMS/bin/Microsoft.Owin.Security.Twitter.dll
/TESCO-TMS/bin/Microsoft.ScriptManager.MSAjax.dll
/TESCO-TMS/bin/Microsoft.ScriptManager.WebForms.dll
/TESCO-TMS/bin/Microsoft.AI.Agent.Intercept.dll
/TESCO-TMS/bin/Microsoft.AI.DependencyCollector.dll
/TESCO-TMS/bin/Microsoft.AI.PerfCounterCollector.dll
/TESCO-TMS/bin/Microsoft.AI.ServerTelemetryChannel.dll
/TESCO-TMS/bin/Microsoft.AI.Web.dll
/TESCO-TMS/bin/Microsoft.AI.WindowsServer.dll
/TESCO-TMS/bin/AspNet.ScriptManager.jQuery.dll
/TESCO-TMS/bin/Antlr3.Runtime.dll
/TESCO-TMS/bin/AspNet.ScriptManager.bootstrap.dll
/TESCO-TMS/bin/Owin.dll
/TESCO-TMS/bin/System.Web.Optimization.dll
/TESCO-TMS/bin/System.Web.Providers.dll
/TESCO-TMS/bin/EntityFramework.dll
/TESCO-TMS/bin/EntityFramework.SqlServer.dll
/TESCO-TMS/bin/Microsoft.ApplicationInsights.dll
/TESCO-TMS/bin/Microsoft.AspNet.FriendlyUrls.dll
/TESCO-TMS/bin/Microsoft.AspNet.Identity.Core.dll
/TESCO-TMS/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/TESCO-TMS/bin/Microsoft.AspNet.Identity.Owin.dll
/TESCO-TMS/bin/Microsoft.AspNet.Web.Optimization.WebForms.dll
/TESCO-TMS/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/TESCO-TMS/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/TESCO-TMS/bin/Microsoft.Web.Infrastructure.dll
